.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}


h1 {
  margin: 30px;
  font-size: 8rem;

}

p {
  font-size: 2rem;


}

img {
  width: 70%;
}

footer {
  margin-top: 5%;
  text-align: center;

}
